
@import url('https://fonts.googleapis.com/css?family=Rye');

/********************
    Nav Bar Styles
*********************/


body{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 70px;
    color: red;
    /*useful for nav bars that scroll interestingly*/
    position: fixed;
    z-index: 10;
    background-color: rgba(228, 114, 151, 0.5);
}

header img{
    display: inline-block;
    margin-top: -50px;
    padding: 0;
    text-decoration: none;
    font-family: 'Rye', sans-serif;  
    transform: scale(0.3);
}

nav{
    float: right;
    display: inline-block;
    margin-right: 50px;
}

nav div {
    width: 35px;
    height: 5px;
    background-color: darkred;
    margin: 6px 0;
    display: none;
}

.One {
    margin-top: 25px;
}

nav ul{
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    height: 70px;
    line-height: 70px;
    width: 150px;
    display: inline-block;
    font-size: 20px;
    font-family: 'Rye', sans-serif;
}

nav a{
    text-decoration: none;
    color: white;
    display: block;
    transition: all 200ms ease;
}

nav a:hover{
    background-color: rgba(228, 114, 151, 0.8);
    color: rgb(139,0,0);
}

nav a:active{
    background-color: rgba(228, 114, 151, 0.8);
    color: rgb(139,0,0);
}

/*****************
    Body
******************/

html{
    background: url(../img/textured_paper_@2X.png) repeat fixed;
    padding: 0;
    margin: 0;
}

/*****************
    Body
******************/

html{
    background: url(../img/textured_paper_@2X.png) repeat fixed;
    padding: 0;
    margin: 0;
}

.container{
    padding-top: 5%;
}

.contactCaption{
    padding-left: 150px;
    padding-bottom: 40px;
    font-size: 40px;
}

article li{
    margin-top: 15px;
}

.abhi, .asam{
    box-shadow: -10px 10px 5px #888888;    
}

footer{
    float: right;
    padding:110px;
    padding-right: 130px;
    padding-bottom: 0;
    color: darkred;
}

footer a{
    text-decoration: underline;
    color: darkred;
}

/*********************
    Abhi/Asam
**********************/

.abhi, .asam{
    background: rgba(202, 38, 139, 0.6);
    display: inline-block;
}

article img{
    margin: 10px;
    margin-right: 0;
    padding:0;
    box-shadow: -3px 3px 5px #888888;
}

article {
    min-height: 250px;
}

article h2{
    margin: 25px;
    margin-left: 30px;
    margin-top: 25px;
    color: rgb(253, 232, 232);
    font-family:'Rye', sans-serif;
    display: inline-block;
    text-shadow: -2px 2px #888888;
}

article ul{
    margin: 20px;
    color: rgb(253, 232, 232);
    font-family: sans-serif;
    list-style-type: none;
    font-size: 20px;
    float: left;
    padding: 0;
    text-shadow: -2px 2px #888888;
}


/*********************
    Icons
**********************/
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    box-shadow: -10px 10px 5px #888888;
}

.fa-linkedin {
    background: cornflowerblue;
    color: white;
}

/*********************
    Media Queries
**********************/

@media only screen and (min-width: 768px) and (max-width: 995px) {

nav ul{
    display: none;
}

nav div {
    display: block;
}

.abhi, .asam{
    margin-bottom: 5%;
}

}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {

nav ul{
    display: none;
}

nav div {
    display: block;
}
.abhi, .asam{
    margin-bottom: 5%;
}

}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {

nav ul{
    display: none;
}

nav div {
    display: block;
}
.abhi, .asam{
    margin-bottom: 5%;
}

.container{
    padding-top: 8%;
}

}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {

nav ul{
    display: none;
}

nav div {
    display: block;
}

h1 a{
    display: none;
}

.abhi, .asam{
    margin-bottom: 5%;
}

.container{
    padding-top: 20%;
}


}
